.home-page {
  height: 100%;
  min-width: 380px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99.7vw;
  margin: 0;
  padding: 0;
}

.divBan {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.carousel__contenedor {
  position: relative;
}

.carousel__anterior,
.carousel__siguiente {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  top: calc(50% - 35px);
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  background: none;
  color: #fff;
  opacity: 20%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
  opacity: 100%;
}

.carousel__anterior {
  left: 30px;
}

.carousel__siguiente {
  right: 30px;
}

.carousel__lista {
  overflow: hidden;
}

.carousel__elemento {
  text-align: center;
}

.carousel__indicadores .glider-dot {
  display: block;
  width: 30px;
  height: 4px;
  background: #fff;
  opacity: 0.2;
  border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
  opacity: 0.5;
}

.carousel__indicadores .glider-dot.active {
  opacity: 1;
}

@media (max-width: 991px) {
  .home-page {
    width: 103vw;
  }
}
